<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUrlService</key>
	<string>https://www.omdbapi.com/?apikey=65664240</string>
	<key>getMovieByName</key>
	<string>&amp;t={id}</string>
	<key>getMovieById</key>
	<string>&amp;i={id}</string>
	<key>getMovieByNameLiteral</key>
	<string>&amp;s={id}</string>
</dict>
</plist>
